#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(https://img-blog.csdnimg.cn/img_convert/780455e3311c84885f99b3cd83508663.webp?x-oss-process=image/format,png);
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}